main{
	width:1920px;
}

#c1{
	background-color:#fcfaea;
}

#c2{
	padding-top:56px;
}
.span{
	font-family: 'KoPub Dotum';
  font-weight: 600;
  font-size:20px;
  color:#363636;
}
.small{
	padding-left:12px;
	font-family: 'KoPub Dotum';
  font-weight: 300;
  font-size:15px;
  color:#808080;
}
.a{
	float:right;
}
.line{
	height:15px;
	width:100%;
	border-bottom:2px solid #feb92b;
}
#c2{
	padding-bottom:141px;
}
#c2 .left{
	width:435px;
	height:246px;
	float:left;
	background-color:#f5f5f5;
	margin-right:12px;
	
	padding-top:24px;
	padding-left:19px;
	padding-right:19px;
	padding-bottom:34px;
}
.new{
	padding:0 5px;
	padding-top:16px;
}
.new li{
	padding-top:5px;
}
.new li a{
	font-size:15px;
	font-weight: 300;
	font-style: normal;
	color:#494949;
}
.new li a small{
	font-size:14px;
	font-weight: 300;
	font-style: normal;
	color:#8b8b8b;
	float:right;
}

#c2 .right{
	width:653px;
	height:246px;
	float:left;
	background-color:#f5f5f5;
	
	padding-top:23px;
	padding-left:23px;
	padding-right:24px;
	padding-bottom:26px;
}
.gallery{
	padding-left:4px;
	padding-right:5px;
	padding-top:23px;
	padding-bottom:26px;
	
}
.gallery li{
	display:inline;
	padding-right:9px;
}
.gallery li:last-child{
	padding-right:0;
}



